.md-typeset p {
      font-size: 1.25em;
      line-height: 1.25;
}

/* Hide main nav title */
label[for="__drawer"] {
    display: none;
}
.md-nav__list>*:first-child {
    margin-top: 0;
}
 */
 
 .image-float {
       float: left;
       }